* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.no-results{
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    background-color: rgb(174, 174, 237);
}

.planet-container{
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid black;
    width: 98vw;
}

.planet-name{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 20vw;
}

.planet-info__block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-description{
    width: 78vw;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}